img {
    position: relative;
    /* width: 40%; */
    height: 100%;
    max-width: 80%;
    max-height: 25vw;
    border-radius: 10%;
    /* border: solid 1px red; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);
}

.imageContainer {

    width: 80%;
    margin: 0 auto;
}

@media (max-width: 600px) {
    img {
        max-height: 100%;
        max-width: auto;
    }
}